body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background-color: rgb(205, 224, 252);
}

#container-app{
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100vh;
  margin: auto;
  background-color: rgb(242, 242, 242);
}

/* <-------CARD CONTAINER--------> */
#container-card-task{
  width: 80%;
  height: auto;
  background-color: rosybrown;
}
/* <-------TASK CONTAINER--------> */