body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background-color: rgb(205, 224, 252);
}

#container-app{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 800px;
  height: 100vh;
  margin: auto;
  background-color: rgb(245, 245, 245);
}

