$font-primary:'Montserrat', sans-serif;
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(247, 186, 204);
  font-family: $font-primary;

}

#container-app{
  display: block;
  width: 800px;
  height: 100vh;
  margin: auto;
  font-family: $font-primary;
}

